---
version: 9
---

@import "variables";

.footer {
  border-color: $gds-gray-100;
  max-width: $page-content-width;
  font-size: $body-font-size;
  a {
    color: $footer-gray-500;
  }

  .fa {
    font-size: 20px;
    color: $footer-gray-400;
  }
}
